	
body{
    background-color: silver;
    font-family: 'Brush Script MT', cursive;
    font-size: 25px;
}
#upLeft {
    float: left;
    
    }

#downLeft {
    float: left;
    }

#upRight {
    
    float: left;
    }

#downRight {
    
    float: left;
    }

.clear {
    clear: both;
    }

.space {
        color: silver;
    }